<!DOCTYPE html>
<html>
<body>

<h1>HELLO {{.}}</h1>

<p>Team
<li>{{.}}</li>li>
<li>{{. | twoTimes}}</li>li>
<li>{{. | threeTimes}}</li>li>
<li>{{. | twoTimes | threeTimes}}</li>li>
</p>

</body>
</html>
